# Maven
target/
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
# Eclipse
.classpath
.project
.settings/
# Compiled class files
*.class
# Log files
*.log
# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
# Test files
src/test/
